<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Registro - Usuarios</title>
  <!-- Bootstrap 5 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
  <ul class="list-group"></ul>
  <li class="list-group-item"><strong>Nombres:</strong>
    <%= user.nombres %>
  </li>
  <li class="list-group-item"><strong>Apellidos:</strong>
    <%= user.apellidos %>
  </li>
  <li class="list-group-item"><strong>Cédula:</strong>
    <%= user.cedula %>
  </li>
  <li class="list-group-item"><strong>Dirección:</strong>
    <%= user.direccion %>
  </li>
  <li class="list-group-item"><strong>Teléfono:</strong>
    <%= user.telefono %>
  </li>
  </ul>
</body>

</html>